<%= form_for([@category, @category.questions.build]) do |f| %>

    <%= render "shared/error_messages", object: f.object %>

    <div class="form-group">
      <%= f.label :question %><br>
      <%= f.text_field :text, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :correct_answer %><br>
      <%= f.text_area :correct_answer, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :wrong_answer_1 %><br>
      <%= f.text_area :wrong_answer_1, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :wrong_answer_2 %><br>
      <%= f.text_area :wrong_answer_2, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :wrong_answer_3 %><br>
      <%= f.text_area :wrong_answer_3, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Submit Question", class: 'btn btn-success' %>
    </div>

<% end %>