<% if current_user %>
  <h1>Listing Articles</h1>
  <%= link_to 'New article', new_article_path %>
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>

    <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= article.user.email %></td>
          <td><%= link_to 'Show', article_path(article) %></td>
          <% if article.user == current_user  %>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Destroy', article_path(article),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
 
<% else %>
  <div class="panel">
    <h1>Create cool articles!</h1>
    <p>A simple app to create, edit, share your articles with others.</p>
    <%= link_to "Get started today", new_user_registration_path, :class => "button button-large" %>
  </div>
<% end %>