<h1>Choose An Opponent</h1>

<%= will_paginate @users %>

<ul class="users">
	<% @users.each do |user| %>
	<% if user.firstname.to_s.length > 1 %>
	<% @name = user.get_full_name %>
	<% else %>
	<% @name = user.username %>
	<% end %>

	<% if user.id != current_user.id %>
	<%= form_for :game, url: games_path do |f| %>
	<%= f.hidden_field :player_2, :value => user.id %>
	<%= f.submit @name, :class=>'btn btn-primary'%>
	<% end %>

	<% end %>
	<br/>

	<% end %>
</ul>

<%= will_paginate @users %>

<br/>
<%= link_to 'Back', welcome_index_path %>

