<h1>Choose An Opponent</h1>

<%= will_paginate @users %>

<ul class="users">
	<% @users.each do |user| %>
		<% if user.firstname.to_s.length > 1 %>
			<%= link_to do %>
				<span><%= user.firstname %> <%= user.firstname %><span/>
			<% end %>
			<br/>
		<% end %>

	<% end %>
</ul>

<%= will_paginate @users %>


<div class='game'>
	<%= render 'shared/spinner' %>
</div>
<%= link_to 'Back' %>
