<h1>Choose An Opponent</h1>

<%= will_paginate @users %>

<ul class="users">
	<% @users.each do |user| %>
	<li>
		<%= link_to user.username %>
	</li>
	<% end %>
</ul>

<%= will_paginate @users %>


<div class='game'>
	<%= render 'shared/spinner' %>
</div>
<%= link_to 'Back' %>
