<h1>Choose An Opponent</h1>

<%= will_paginate @users %>

<ul class="users">
	<% @users.each do |user| %>
		<% if user.firstname.to_s.length > 1 %>
			<%= link_to user.username, games_path(:game => {:player1 => current_user.id, :player2 => user.id}) , :method => :post %>

				<span><%= user.firstname %> <%= user.firstname %><span/>
			<br/>
		<% end %>

	<% end %>
</ul>

<%= will_paginate @users %>

<br/>
<%= link_to 'Back', welcome_index_path %>

