<!DOCTYPE html>
<html>
<head>
  <title>QuizPop</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body id="home">
<div class="navbar navbar-default navbar-fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Logo</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <!-- main nav -->
      </ul>

    <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
            <li>Logged in as <strong><%= current_user.username %></strong></li>
            <li>
              <button type="button" class="btn btn-primary">
                <%= link_to 'Edit profile', edit_user_registration_path %>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-danger">
                <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
              </button>
            </li>
        </ul>
    <% else %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= f.text_field :username, placeholder: "Username", class: "form-control", name: "user[login]" %>
                  <!--input type="text" class="form-control" placeholder="Username"-->
                </li>
                <li>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                  <!--input type="text" class="form-control" placeholder="Password"-->
                </li>

                <li>
                  <%= f.submit "Log in", class: "btn btn-primary" %>
                </li>

                <li>
                  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
                </li>
            </ul>
        <% end %>
    <% end %>

      <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Privacy / Terms</a>
        </li>
      </ul>

    </div>
  </div>
</div>

<div id="content">
  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>

</body>

</html>
